# Laravel Configuration
<IfModule mod_rewrite.c >
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
 
 # php version configuration
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php82___lsphp .php .php8 .phtml
</IfModule>
